{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <!-- Heading & Subheading visible only on xs to md screens -->
        <div class="col-12 d-block d-lg-none text-center mb-4">
            <h1 class="page-heading logo">Second Story Style</h1>
            <p class="page-subheading logo-sub">Stylish Vintage Clothing</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 container-content mt-5">
    <div class="row h-100 align-items-center">
        <!--On large screens logo and the button are placed next to each other-->
        <div
            class="col-12 col-md-8 col-lg-7 d-none d-lg-flex flex-lg-row justify-content-center align-items-center text-center text-lg-left">
            <div class="col-lg-12 mb-lg-0">
                <div class="flip-container" onclick="this.classList.toggle('hover');"
                    aria-label="Click to flip for more information about Second Story Style">
                    <div class="flipper">
                        <div class="front" aria-hidden="true">
                            <!-- The logo image -->
                            <img src="{% static 'images/second_story_logo.png' %}" alt="Shop Logo"
                                style="width: 100%; height: auto;">
                        </div>
                        <div class="back text-center">
                            <!-- The text on the flipped side -->
                            <div class="back-text" role="region" aria-label="Welcome Message">
                                <p>Welcome to</p>
                                <p class="shop-name">Second Story Style</p>
                                <p>where each piece of clothing holds a tale waiting to be continued by you. Let’s give
                                    these beautiful finds a new chapter.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- Shop Now button -->
                <div class="d-flex flex-column align-items-center">
                    <a href="{% url 'products' %}"
                        class="shop-now-button shop-now-button-smaller btn btn-lg text-uppercase py-3"
                        aria-label="Shop now for vintage clothing">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- On smaller screens the logo and button stack vertically in the center -->
<div class="col-12 d-lg-none d-flex flex-column align-items-center">
    <div class="flip-container mb-4" onclick="this.classList.toggle('hover');"
        aria-label="Click to flip for more information about Second Story Style">
        <div class="flipper">
            <div class="front" aria-hidden="true">
                <img src="{% static 'images/second_story_logo.png' %}" alt="Shop Logo" class="img-fluid">
            </div>
            <div class="back text-center">
                <!-- The text on the flipped side -->
                <div class="back-text" role="region" aria-label="Welcome Message">
                    <p>Welcome to</p>
                    <p class="shop-name">Second Story Style</p>
                    <p>where each piece of clothing holds a tale waiting to be continued by you. Let’s give these
                        beautiful finds a new chapter.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'products' %}" class="shop-now-button shop-now-button-smaller btn btn-lg text-uppercase py-3"
        aria-label="Shop now for vintage clothing">Shop Now</a>
</div>

{% endblock %}