{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-8 col-lg-7 d-flex justify-content-center align-items-center">
            <img class="logo-img mb-3 me-3" src="media/second_story_logo.png" alt="a logo of the shop">
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop
                Now</a>
        </div>
    </div>
</div>




<!-- {% endblock %} -->