@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    background: url('/static/images/girl_hero_img.png') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    color: #2b1d0e;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;


}

.flex-grow {
    flex: 1;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    flex: 1 0 auto;
    width: 100%
}


#topnav {
    max-height: 10vh;
    background-color: #2b1d0e;
    color: #f4e4bc;
}

.nav-link,
.nav-item {
    color: #f4e4bc;
}

.nav-link:hover {


    color: gold;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1.1);
    transition: .5s ease-in-out;


}

.navbar {
    background-color: #2b1d0e;
    color: #f4e4bc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f4e4bc' stroke-width='2' linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #edd290;
}

icon:hover {
    color: gold;
    transform: scale(1.05);
    transition: .5s ease-in-out;

}

.logo-img {
    border-radius: 50%;
    display: block;
    margin-left: 0;
    max-width: 100%;
    float: left;



}

/* logo flipping */

.flip-container {
    perspective: 1000px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;

}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    z-index: 2;
}

.front .logo-img {
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.back {
    transform: rotateY(180deg);
    z-index: 1;
    background-color: #edd290;
    /* Background color for the back */
    color: #2b1d0e;
    /* Text color for the back */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

.back-text {
    font-family: "Oleo Script", system-ui;
    padding: 20px;
    font-size: 30px;
    max-width: 90%;
}

.shop-name {
    font-size: 35px;
    color: gold;
    -webkit-text-stroke: 1px #2b1d0e;
    font-weight: bold;

}

.logo {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    color: gold;
}

.logo:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
    color: #edd290;
}

.logo-sub {
    color: #edd290;
}


.logo-font {
    text-transform: uppercase;
    font-weight: 400;


}

.main-logo-link {
    width: fit-content;
    color: #f4e4bc;
}


.main-logo-link:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: .5s ease-in-out;
    color: gold;
}

.dropdown-menu {
    background-color: #2b1d0e;
    color: #f4e4bc;
    border-color: gold;
}

.dropdown-item {
    color: #f4e4bc;
}

.dropdown-item:hover {
    color: #2b1d0e;
    background-color: gold;
}



.banner-heading {

    background-color: rgb(234, 198, 131);
    color: #2b1d0e;
}



#sort-selector:hover {
    border-color: gold;
    outline: 1px solid gold;

}

.search-btn {

    color: #2b1d0e;
    background-color: #f4e4bc;
}

.search-btn:hover {

    transform: scale(1.05);
    background-color: gold;
    color: #2b1d0e;
    transition: .5s ease-in-out;


}

.search-btn:active {
    background-color: gold;
    color: #2b1d0e;
}

#search-icon {
    color: #2b1d0e;
}

#mobile-search {
    color: #f4e4bc !important;
}

#search-icon:hover {
    background-color: #2b1d0e;
    color: gold;
}

.page-heading {
    font-weight: 600;
}


.shop-now-button {
    background: #2b1d0e;
    color: #f4e4bc;
    min-width: 260px;
    margin-left: 40px;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0.3rem 0.3rem gold;
    border-radius: 10px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    transition: .5s ease-in-out;
    background-color: gold;
    color: #2b1d0e;
    box-shadow: 0 0 0.3rem 0.3rem #2b1d0e;
    transform: scale(1.1);
}



/* Styles for icons, ensuring consistency in icon color */
.fa-chevron-left {
    color: gold;
}


/*Specific styles for light-themed buttons */
.light-btn {
    background-color: whitesmoke;
    color: #2b1d0e;
    outline: 2px solid #2b1d0e;
    transition: transform 0.5s ease-in-out, outline-color 0.5s ease-in-out;
}

/* Specific styles for dark-themed buttons */
.dark-btn {
    background-color: #2b1d0e;
    color: #f4e4bc;
    outline: 2px solid #f4e4bc;
    transition: transform 0.5s ease-in-out, outline-color 0.5s ease-in-out;
}


.light-btn:hover {
    outline-color: gold;
    color: #2b1d0e;
    transform: scale(1.1);
}

.light-btn:active {
    outline-color: gold;
}

/* Hover styles for dark-themed buttons */
.dark-btn:hover {
    outline: 2px solid gold;
    color: gold;
    transform: scale(1.1);
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: bisque;
    background-size: cover;
    z-index: -1;
}

/*Bagdes*/

a.category-badge>span.badge {
    background-color: #2b1d0e;
    color: gold;

}

a.category-badge>span.badge:hover {
    background-color: gold;
    color: #2b1d0e;
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.btt-button {
    color: #2b1d0e;
    border: 1px solid #2b1d0e;
    border-radius: 5px;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.btt-link,
.remove-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* Sort selector */

#sort-selector {
    border-color: #2b1d0e;
    outline: 1px solid #2b1d0e
}


#sort-selector:focus {
    border-color: gold;
    outline: 2px solid gold;
    box-shadow: 0 0 3px gold;
    outline: 1px solid gold;

}

#sort-selector:hover {
    border-color: gold;
    outline: 1px solid gold;

}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-header {
    background-color: gold;
}

.toast-body {
    background-color: #f4e4bc;
}

.toast-capper {
    height: 2px;


}


/* Card*/


.card-img-top {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}



.modal-header {
    background-color: #2b1d0e;
    color: #f4e4bc;
    border-bottom: 1px solid gold;
}

.modal-body {
    background-color: #2b1d0e;

}

.modal-body img {
    width: 100%;
    max-height: 80vh;
    height: auto;
    object-fit: contain;

}

.modal-dialog {
    border-color: gold;
    outline: 1px solid gold;
    max-width: 95%;
    width: auto;

}

.close {
    color: #f4e4bc;


}

.close:hover {
    color: gold;
    transform: scale(1.1);
    transition: .5s ease-in-out;
}



.align-left-custom {
    transform: translateX(-10%);
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper,
.wishlist-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Cards displaying products*/

.card {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 2px #2b1d0e;
}

.card:hover {
    box-shadow: 0 0 0 10px gold;

}

/*Card action buttons*/

.btn-bag {
    background-color: #2b1d0e;
    color: gold;
    transition: transform .5s ease-in-out;
}


.btn-bag:hover {
    color: gold;
    transform: scale(1.1);

}

.btn-wish,
.select-btn {
    background-color: gold;
    color: #2b1d0e;
    outline: 2px solid #2b1d0e;
    transition: transform .5s ease-in-out;

}

.btn-wish:hover,
.select-btn:hover {
    transform: scale(1.1);

}

/* generic rule for stylying forms*/

.focus-highlight:focus {
    border: 2px solid gold;
    outline: none;
    box-shadow: 0 0 5px gold;

}


.form-field {
    background-color: #fff;
    border: 2px solid #2b1d0e;
    padding: 10px;
    border-radius: 5px;

}

.profile-form-input,
.product-form-input {
    padding-bottom: 0.1px;
    border: 2px solid #2b1d0e;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.form-control {
    padding: .375rem .75rem !important;
}


/* Footer */

footer {

    height: 50px;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    margin-top: auto;
}

/*Social icons*/

.social-icon-light {
    color: #edd290;
}

.social-icon-dark {
    color: #2b1d0e;
}

.social-icon-light,
.social-icon-dark {
    transition: transform .5s ease-in-out;
}

.social-icon-light:hover {
    color: gold;

}

.social-icon-dark:hover {
    color: #c6831b;

}

.social-links:hover {
    text-decoration: none;

}

.social-links:hover i {
    transform: scale(1.5);
    transition: transform .5s ease-in-out;
    text-decoration: none;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}


.allauth-form-inner-content input {
    border: 2px solid #2b1d0e;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
}

.allauth-form-inner-content input:hover {
    border-color: gold;

    /* Change border color to gold on hover */
}

.allauth-form-inner-content input:focus {
    border-color: gold;
    outline: none;
    box-shadow: 0 0 5px gold;

}


.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}




.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    background-color: #2b1d0e;
    color: #f4e4bc;
    outline: 2px solid #f4e4bc;
    transition: transform .5s ease-in-out, color .5s ease-in-out, outline-color .5s ease-in-out;
    /* Ensure all transitions are listed */
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    outline-color: gold !important;
    /* Test with important */
    color: gold !important;
    transform: scale(1.1);
}

.allauth-form-inner-content input[type='submit'][value='Reset My Password'] {
    width: 200px;
}

.allauth-form-inner-content a {
    color: #2b1d0e;

}

.password_reset input[type="submit"] {
    border-radius: 5px;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {

    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;

}



/* -------------------------------- Media Queries */

/*Slightly larger container on very large screens */
@media (min-width: 1500px) {
    .container {
        max-width: 80%;
    }
}



@media only screen and (max-width: 1024px) {
    body {
        background: url('/static/images/background_img.png') no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 164px);
    }



    .container-content {
        margin-left: 100px;
        margin-top: 50px;
    }

}


/* fixed top navbar only on medium and up */


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 116px);
    }

    /* .container-content {
        margin-top: -100px;
    } */

    .shop-now-button {
        margin-top: 40px;
        margin-left: 0px;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .7rem;
    }

    /* .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    } */

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

}

@media (max-width: 768px) {
    .align-left-custom {
        transform: translateX(-5%);

    }

    .shop-now-button-smaller {
        padding: .25rem .5rem;
        font-size: .875rem;

    }



    .card-footer {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .card-footer .action-buttons,
    .card-footer .keep-shopping-btn,
    .card-footer form,
    .card-footer a {
        width: 100%;
        /* display: block; */
        margin-right: 0;

    }

    .card-footer .btn {
        margin-bottom: 5px;
        width: 100%;

    }


    /*Stack checkout and keep shopping buttons vertically*/

    td.text-right {
        flex-direction: column;
        align-items: stretch;

    }

    .btn-lg {
        /* width: 100%; */
        margin-right: 0;
        margin-bottom: 10px;

    }

    /* .back-login-btn {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 10px !important;
    } */



    .submit-button {
        flex-direction: column;
        align-items: stretch;

    }

    .submit-button .btn,
    .submit-button .small {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;

    }

    .allauth-form-inner-content input[type='submit'][value='Reset My Password'] {
        width: 100% !important;
    }


}


@media only screen and (max-width: 600px) {

    .navbar {
        font-size: 13px;
    }

    .flip-container {
        width: 400px;
        height: 400px;

    }

    .shop-now-button-smaller {
        padding: .20rem .3rem;
        font-size: .700rem;
        max-width: 200px;

    }
}


@media only screen and (max-width:400px) {

    .header-container {
        padding-top: 50px;
    }


    .footer {
        padding: 100px;
    }


    .flip-container {
        width: 280px;
        height: 280px;

    }

    .back-text {
        font-size: 17px;
    }

    .shop-name {
        font-size: 27px;
    }

    .navbar {
        font-size: 10px;
    }
}



@media only screen and (max-width:280px) {

    .logo {
        font-size: 27px;
    }

    .nav-link {
        padding: 0rem;
    }
}