<footer class="mt-4">
    <div class="container-fluid py-3">
        <!-- Social Links Row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Links -->
                <a href="{{ social_links.facebook }}" aria-label="Follow us on Facebook"
                    class="social-links mx-2 {% if request.path == '/' %}social-icon-light{% else %}social-icon-dark{% endif %}"
                    target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="{{ social_links.instagram }}" aria-label="Follow us on Instagram"
                    class="social-links mx-2 {% if request.path == '/' %}social-icon-light{% else %}social-icon-dark{% endif %}"
                    target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="{{ social_links.pinterest }}" aria-label="Follow us on Pinterest"
                    class="social-links mx-2 {% if request.path == '/' %}social-icon-light{% else %}social-icon-dark{% endif %}"
                    target="_blank">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="{{ social_links.twitter }}" aria-label="Follow us on Twitter"
                    class="social-links mx-2 {% if request.path == '/' %}social-icon-light{% else %}social-icon-dark{% endif %}"
                    target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>