<!-- Modal -->
<div class="modal fade" id="productImageModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">{{ product.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Image with descriptive aria-label to be set dynamically -->
                <img src="" class="img-thumbnail" alt="Product image" aria-label="Close-up view of {{ product.name }}">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#productImageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Element that triggered the modal
            var imageUrl = button.attr('src'); // Extract image URL from the src attribute
            var modal = $(this);
            var productName = button.data('product-name'); // Assuming you pass product name as data attribute

            modal.find('.modal-body img').attr('src', imageUrl);
            modal.find('.modal-body img').attr('aria-label', 'Close-up view of ' + productName);

            var img = modal.find('.modal-body img');
            var windowHeight = $(window).height();

            img.css({
                'max-height': windowHeight * 0.8,
                'background-color': '#2b1d0e',
                'padding': '20px',
                'display': 'block',
                'margin': 'auto',
                'border': '2px solid gold',
                'box-sizing': 'border-box'
            });

        });
    });
</script>