<!-- Modal -->
<div class="modal fade" id="productImageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Product Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImg" class="img-fluid" alt="Product" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#productImageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.attr('src'); // Extract info from data attributes
            var modal = $(this);
            modal.find('.modal-body img').attr('src', recipient);
        });
    });
</script>