{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="error-container h-100 text-center" aria-label="Error Page" style="margin-top: 300px;">
    <div class="row justify-content-center row-error h-100">
        <div class="col-md-8 col-lg-6">
            <div class="card error-message" style=" background-color: #2b1d0e;">
                <div class="card-body">
                    <div class="error-content">
                        <h1 class="mb-3 logo">Oops!</h1>
                        <h2 class="mb-4 logo">The page you are looking for could not be found.</h2>
                        <a href="{% url 'home' %}" class="btn btn-lg light-btn btn-lg py-3 mt-3"
                            aria-label="Go to Home Page">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}