{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="error-container text-center" style="margin-top: 300px;" aria-label="Server Error Page">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card error-message" style=" background-color: #2b1d0e;">
                <div class="card-body">
                    <div class="error-content">
                        <h1 class="mb-3 logo">Sorry!</h1>
                        <h2 class="mb-4 logo">An error has occurred on the server. We are working to resolve the issue.
                        </h2>
                        <a href="{% url 'home' %}" class="btn btn-lg light-btn btn-lg py-3 mt-3"
                            aria-label="Go to Home Page">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}