{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font page-heading">Our Collection</h2>
            {% for category in current_categories %}
            <a href="{% url 'products' %}?category={{ category.name }}" class="category-badge text-decoration-none">
                <span class="badge border p-2 mt-2">
                    {{ category.friendly_name|default:category.name }}
                </span>
            </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 d-flex justify-content-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm ">
                            <option value="reset" {% if is_sorting_default %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if is_price_asc %}selected{% endif %}>Price (low to high)
                            </option>
                            <option value="price_desc" {% if is_price_desc %}selected{% endif %}>Price (high to low)
                            </option>
                            <option value="name_asc" {% if is_name_asc %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if is_name_desc %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if is_category_asc %}selected{% endif %}>Category (A-Z)
                            </option>
                            <option value="category_desc" {% if is_category_desc %}selected{% endif %}>Category (Z-A)
                            </option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row p-2">
    {% for product in products %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card h-100 border-0 p-2">
            <!-- Product image -->
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            <!-- Card body -->
            <div class="card-body pb-0">
                <p class="mb-0"><strong>{{ product.name }}</strong> - {{ product.brand }}</p>
                <small class="text-muted">{% if product.size %} Size {{ product.size|upper }}{% endif %}</small>
            </div>
            <!-- Card footer -->
            <div class="card-footer bg-white pt-0 border-0 text-left">
                <div class="row">
                    <div class="col d-flex justify-content-between align-items-center">
                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                        <!-- Wishlist and Add to Bag Buttons -->
                        <div>
                            {% if user.is_authenticated %}
                            <a href="{% url 'toggle_wishlist' product.id %}" class="btn btn-wish btn-sm mr-1"
                                title="{% if product.in_wishlist %}Remove from wishlist{% else %}Add to wishlist{% endif %}">
                                <i class="fas fa-heart {% if product.in_wishlist %}text-danger{% endif %}"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'account_login' %}?next={% url 'product_detail' product.id %}"
                                class="btn btn-wish btn-sm mr-1" title="Log in to Add to Wishlist">
                                <i class="fas fa-heart"></i>
                            </a>
                            {% endif %}
                            <a href="{% url 'add_to_bag' product.id %}" class="btn btn-bag dark-btn btn-sm"
                                title="Add to Bag">
                                <i class="fas fa-shopping-bag"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
<div class="btt-button shadow-sm">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}