{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card my-5">
                <div class="card-body">
                    <div class="row">
                        <!-- Column for Product Image -->
                        <div class="col-12 col-md-6">
                            {% if product.image %}
                            <!-- Updated part to trigger the modal instead of opening in a new tab -->
                            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                                style="cursor:pointer" data-toggle="modal" data-target="#productImageModal">
                            {% include 'includes/product_image_modal.html' %}
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" alt="{{ product.name }}">
                            {% endif %}
                        </div>

                        <!-- Column for Product Details and Superuser Actions -->
                        <div class="col-12 col-md-6">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ product.brand }}</h6>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="lead font-weight-bold">£{{ product.price }}</p>
                            {% if product.category %}
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="card-link">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                            {% endif %}
                            {% if product.size %}
                            <span class="text-muted">Size: {{ product.size }}</span>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <div class="mt-4">
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-primary">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Card Footer for Other Actions -->
                <div class="card-footer card-footer-details bg-white d-flex flex-wrap justify-content-between border-0">
                    <!-- Keep Shopping stays on the left -->
                    <a href="{% url 'products' %}" class="btn keep-shopping-btn light-btn mb-2">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Keep Shopping
                    </a>

                    <!-- Grouped actions to the right -->
                    <div class="detail-action-buttons">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'add_to_wishlist' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-wish text-uppercase mr-3 mb-2">Add to Wish
                                List</button>
                        </form>
                        {% else %}
                        <a href="{% url 'account_login' %}?next={{ request.path }}"
                            class="btn btn-wish text-uppercase mr-3 mb-2">Log in
                            to Add to Wish List</a>
                        {% endif %}
                        <form class="d-inline" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class="btn btn-bag dark-btn text-uppercase mb-2">Add to Bag</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}