<div class="toast custom-toast border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header text-dark">
        <strong class="mr-auto">Wishlist Updated!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        <p class="logo-font text-black py-1">Your Wishlist ({{ product_count }})</p>
        <div class="wishlist-notification-wrapper">
            {% for item in wishlist_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    {% if item.product.size %}
                    <small class="text-muted">Size: {{ item.product.size }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'products' %}" class="btn keep-shopping-btn light-btn btn-block">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
</div>